{% extends 'base.html' %}
{% block title %}
    delete post {{ post.id }}
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>deleting post - {{ post.title }}</h1>
            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    <strong style="font-size: 55px;">Are you sure ?</strong>
                    <br>
                    <button class="btn btn-danger">delete</button>
                    <a href="{% url 'home' %}" class="btn btn-primary">cancel</a>
                </form>
            </div>
        {% else %}
            you are not allowd
        {% endif %}
    {% else %}
        you are not allowd
    {% endif %}
{% endblock content %}
